* {
    padding: .5rem;
}

/* header */
nav {
    background-color: #5B9279;
    color: white;
}

a {
    text-decoration: none !important;
    color: white !important;
}

.links {
    text-align: end !important;
}

/* body */
img {
    width: 15rem;
    height: 15rem;
    border-radius: 10% !important;
}

.projects div, .skills div p {
    margin: 1rem;
    border-radius: 2rem;
    background-color: #b4c5e4;
    color: white;
}

footer {
    background-color: #093ac2;
    color: white;
}
